html,body {
background-color:#F8F8F8;
background-image:url(/resources/bg.png);
}

.header {
text-align:center;
font-size:80px;
font-family:Roboto, sans-serif;
font-weight:100;
margin-top:50px;
}

.background {
position:fixed;
top:0;
left:0;
width:100%;
height:auto;
opacity:0.03;
user-drag:none;
user-select:none;
-moz-user-select:none;
-webkit-user-drag:none;
-webkit-user-select:none;
-ms-user-select:none;
}

.container {
text-align:center;
}

.list {
display:inline-block;
border-radius:2px;
min-width:400px;
margin:0 auto;
}

.list-row {
text-align:left;
border-bottom:1px solid #000;
height:auto;
transition:padding 1s;
padding:15px 5px;
}

.list-row:hover {
cursor:pointer;
transition:color .5s;
}

.temperature {
float:right;
font-size:35px;
transition:color .5s;
}

.list-row:hover > .temperature {
color:#D50000;
transition:color .5s;
}


.active {
transition:padding 1s;
}

.active-temp {
color:#000;
}

.location {
font-size:35px;
transition: .5s;
}

.list-row:hover > .location {
  color:#D50000;
  transition:color .5s;
}

dt > span {
font-size:18px;
color:#000;
}

.coords {
font-size:20px;
padding-top:10px;
padding-bottom:15px;
}

span {
font-family:Roboto, sans-serif;
font-weight:100;
}

h4 {
  font-family:Roboto, sans-serif;
  font-weight:100;
  font-size: 22px;
}

.icon {
width:25px;
display:inline;
height:auto;
padding-right:5px;
margin-top:-5px;
}

.content {
position:relative;
height:80%;
cursor:auto;
}

.addForm {
height:30px;
width:100%;
position:absolute;
bottom:0;
text-align: left;
}

.addForm > input {
height:25px;
border:0;
border-bottom:1px solid #000;
background:linear-gradient(#00000000,#0000000E);
width:100px;
}

.addForm > button:focus {
  border:1px solid #090;
}

.addForm > button {
  background: 0;
  border:1px solid #000;
  width: 27px;
  height: 27px;
  padding: 0px;
}
